body{
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}

#file1{
    position:fixed;
    height: 100px;
    top: 10%;
    left: 30%;
    cursor: pointer;
    
}

#file2{
    position:fixed;
    height: 100px;
    top: 10%;
    left: 40%;
    cursor: pointer;
}

#file3{
    position:fixed;
    height: 100px;
    top: 10%;
    left: 50%;
    cursor: pointer;
}

#file4{
    position:fixed;
    height: 100px;
    top: 10%;
    left: 60%;
    cursor: pointer;
}

#titulo1{
    position:fixed;
    height: 100px;
    top: 22%;
    left: 30%;
    cursor: pointer;
}

#titulo2{
    position:fixed;
    height: 100px;
    top: 22%;
    left: 40%;
    cursor: pointer;
}

#titulo3{
    position:fixed;
    height: 100px;
    top: 22%;
    left: 50%;
    cursor: pointer;
}

#titulo4{
    position:fixed;
    height: 100px;
    top: 22%;
    left: 60%;
    cursor: pointer;
}


/* Popup Box */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8888; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10vh auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
}
/*@media (min-width: 1366px) {
  .modal-content {
    background-color: #fefefe;
    margin: 10vh auto; /* 15% from the top and centered */
    /*padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
	/*}
}

/* The Close Button */
.close {
    margin-top: 0;
    color: #000000;
    float: right;
    font-size:30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button.button {
    cursor: pointer;
}

button.button:hover {   
    color:#a99567;
    cursor: pointer;
}